In [1]:
import csv

import pandas as pd

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [4]:
df = pd.read_csv('data/real-world/poker.csv')

In [6]:
freq = df['target'].value_counts()

In [10]:
[f for f in freq <= 2 if f]

[True]

In [18]:
invalid = [i for i, f in freq.items() if f <=2]

In [20]:
df[~df['target'].isin(invalid)]

        0  1  2   3  4   5  6   7  8   9  target
0       1  1  1  10  1  11  1  12  2  13       4
1       1  1  1  10  1  11  1  12  4  13       4
2       1  1  1  10  1  11  2  11  1  12       1
3       1  1  1  10  1  11  2  11  1  13       1
4       1  1  1  10  1  11  2  11  2  12       1
...    .. .. ..  .. ..  .. ..  .. ..  ..     ...
829196  4  9  4  11  3  12  4  12  1  13       1
829197  4  9  4  11  3  12  4  12  3  13       1
829198  4  9  4  11  3  12  4  12  4  13       1
829199  4  9  4  11  4  12  1  13  2  13       1
829200  4  9  4  12  2  13  3  13  4  13       3

[829199 rows x 11 columns]

In [26]:
df = pd.read_csv('data/real-world/poker.csv')
X = df.drop(['target'], axis=1)
y = df['target']

In [24]:
from sklearn.ensemble import RandomForestClassifier
import sklearn.metrics as metrics
from sklearn.model_selection import GridSearchCV

def_classifier = GridSearchCV(RandomForestClassifier(),
                              {'n_estimators': [5, 10, 20, 50, 100],
                               'max_depth': [10, 20, None],
                               'max_features': ['sqrt', None]},
                               cv=2,
                               n_jobs=-1)

In [37]:
def clean_dataset(X, y, cv=2):
    y = pd.Series(y)
    target_freq = y.value_counts()
    invalid_targets = [i for i, f in target_freq.items() if f<cv]
    X = X[~y.isin(invalid_targets)]
    y = y[~y.isin(invalid_targets)]
    return X, y

In [38]:
X_clean, y_clean = clean_dataset(X.values, y.values, cv=3)

In [40]:
len(y_clean)

829199