In [1]:
import json

import pandas as pd

with open('result.json', 'r') as f:
    result = json.load(f)
df_res = pd.DataFrame(result)

def make_mean_std_col(df, mean_col, std_col):
    mean_col = pd.Series.round(df[mean_col], 2).astype(str)
    std_col = pd.Series.round(df[std_col], 2).astype(str)
    return mean_col + '±' + std_col

def make_pivot_table(df, mean_col, std_col):
    result = make_mean_std_col(df, mean_col, std_col)
    df_result = df.drop([mean_col, std_col], axis=1)
    df_result['result'] = result
    return df_result.pivot('dataset', 'method', 'result')

In [2]:
df_acc = df_res.drop(['drift_detected_mean', 'drift_detected_std'], axis=1)
df_drift = df_res.drop(['accuracy_mean', 'accuracy_std'], axis=1)

In [3]:
make_pivot_table(df_acc, 'accuracy_mean', 'accuracy_std')

method           BDD        HDD        SDD
dataset
LUdata      0.99±0.0    1.0±0.0  0.99±0.01
chessweka  0.71±0.01  0.76±0.02  0.58±0.01

In [4]:
make_pivot_table(df_drift, 'drift_detected_mean', 'drift_detected_std')

method          BDD      HDD      SDD
dataset
LUdata     10.0±0.0  0.0±0.0  1.0±0.0
chessweka   2.0±0.0  1.0±0.0  2.0±0.0