In [14]:
import json
import os
from pathlib import Path

import pandas as pd

result = []
path = Path('results')
for file in os.listdir('results'):
    with open(path / file, 'r') as f:
        result.extend(json.load(f))

df_res = pd.DataFrame(result)

def make_mean_std_col(df, mean_col, std_col):
    mean_col = pd.Series.round(df[mean_col], 2).astype(str)
    std_col = pd.Series.round(df[std_col], 2).astype(str)
    return mean_col + '±' + std_col

def make_pivot_table(df, mean_col, std_col):
    result = make_mean_std_col(df, mean_col, std_col)
    df_result = df.drop([mean_col, std_col], axis=1)
    df_result['result'] = result
    return df_result.pivot('dataset', 'method', 'result')

In [15]:
df_acc = df_res.drop(['drift_detected_mean', 'drift_detected_std'], axis=1)
df_drift = df_res.drop(['accuracy_mean', 'accuracy_std'], axis=1)

In [16]:
make_pivot_table(df_acc, 'accuracy_mean', 'accuracy_std')

method           BDD        HDD        SDD
dataset
LUdata       1.0±0.0    1.0±0.0    1.0±0.0
chessweka   0.71±0.0  0.75±0.01  0.61±0.03
elec        0.76±0.0   0.7±0.01  0.74±0.01
phishing     0.9±0.0  0.91±0.01    0.9±0.0
rialto      0.64±0.0   0.25±0.0   0.53±0.0
spam        0.85±0.0   0.84±0.0  0.85±0.01
weather    0.66±0.01  0.66±0.01  0.66±0.01

In [17]:
make_pivot_table(df_drift, 'drift_detected_mean', 'drift_detected_std')

method           BDD        HDD        SDD
dataset
LUdata      10.0±0.0    0.0±0.0    1.0±0.0
chessweka    2.0±0.0    1.0±0.0    2.0±0.0
elec       258.0±0.0    8.0±0.0  140.0±0.0
phishing    62.0±0.0   10.0±0.0   62.0±0.0
rialto     465.0±0.0   87.0±0.0  348.0±0.0
spam        35.0±0.0   31.0±0.0   34.0±0.0
weather    103.0±0.0  101.0±0.0  103.0±0.0